include ./includes/head.pug

div.container.h-100
	div.row.h-100.justify-content-center
		div.row.align-items-start
			h1.text-center.mt-2 Gedicht:

		div.teh-row.row.align-items-center.justify-content-center
			div.col-11
				div#text-wrapper
					p#text.le-text.text-center

		div.row.align-items-end
			button#prev.btn.btn-secondary.mr-4.mb-5(type="button") Vorige
			button#next.btn.btn-secondary.ml-4.mb-5(type="button") Volgende

include ./includes/scripts.pug
