include ./includes/head.pug

div.container.h-100
	div.row.h-100.justify-content-center
		div.row.align-items-start
			h1.text-center.mt-2 Gedicht:

		div.row.align-items-center.justify-content-center
			div.col-11
				p#text.le-text.text-center Dit is een zin van het gedicht en het is ook nog eens een hele lange zin en nog veel langer omg gaat maar door waajooooo


		div.row.align-items-end
			button#prev.btn.btn-secondary.mr-4.mb-5(type="button") Vorige
			button#next.btn.btn-secondary.ml-4.mb-5(type="button") Volgende

include ./includes/scripts.pug
