html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.btn {
  min-width: 100px;
}

@keyframes fadein {
    0%   {opacity: 0;}
    100% {opacity: 1.0;}
}

#text {
  animation-name: fadein;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

.teh-row {
  height: 150px;
  width: 100%;
}

.container {
  animation-name: fadein;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

@keyframes party {
  0%   {background-color: red;}
  50%  {background-color: yellow;}
  75%  {background-color: lightblue;}
  100%  {background-color: green;}
}

.fissa {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation-name: party;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  animation-timing-function: linear;
}
